.addItemContainer {
  display: flex;
  justify-content: center;
}

.cardContainer {
  width: 50%;
  min-width: 400px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  input {
    font-size: 20px;
  }
  label {
    color: #e3e3e3;
  }
}
.submitBtnContainer {
  margin: 1rem 0 0.5rem;
  button {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.093),
      0 3.3px 5.3px 1px rgba(0, 0, 0, 0.158),
      0 8.5px 12.7px -1px rgba(0, 0, 0, 0.125),
      0 30px 42px -1px rgba(0, 0, 0, 0.135);

    transition: all 0.1s ease-in;
    &:hover {
      background-color: orange;
      cursor: pointer;
    }
  }
}
