.card {
  padding: 3rem;
  box-shadow: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.093),
    0 3.3px 5.3px 1px rgba(0, 0, 0, 0.158),
    0 8.5px 12.7px -1px rgba(0, 0, 0, 0.125),
    0 30px 42px -1px rgba(0, 0, 0, 0.135);
  border-radius: 14px;
  background-color: hsl(180, 100%, 19%);
  width: 95%;
  height: 100%;
  margin: auto;
}
